<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <link href="//db.onlinewebfonts.com/c/335787aa6f57d71cabe8eb5dc89c6d6b?family=Blender+Pro" rel="stylesheet"
        type="text/css" />
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <title>Riddler 2020</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="./script.js"></script>


</head>

<body>
    <div class="flex-container">

        <div class="row">


            <div class="col-lg-1 d-none d-lg-block bar">
                <div class="line1 road">
                </div>
                <br>
                <div class="line2 road">
                </div>
                <br>
                <div class="line3 road">
                </div>

                <br>

                <div class="line1 road">
                </div>
                <br>
                <div class="line2 road">
                </div>
                <br>
                <div class="line3 road">
                </div>

                <br>




            </div>
            <div class="col-lg-10 col-xs-12 bg ">

                <div class="d-flex flex-row-lg-3 row-xs-3 logo">
                    <img src="./logov1.png" alt="Riddler logo">
                </div>

                <div class="d-flex flex-row-lg-3 row-xs-3 logo">
                    <img src="./tagline.png" alt="THE ONLINE CRYPTIC HUNT">
                </div>

                <div class="d-flex flex-row-lg-3 row-xs-3 justify-content-center reg">
                    <a class="btn" href="#">Register</a>
                </div>

                <div class="d-flex flex-row-lg-3 row-xs-3 justify-content-center page-end">
                    <p id="timer"></p>
                </div>

                <div class="d-flex flex-row-lg-3 row-xs-3 justify-content-center page-end">
                    BY COMPUTER SOCIETY OF INDIA
                </div>

            </div>
            <div class="col-lg-1 d-none d-lg-block bar">
                <div class="line1 road">
                </div>
                <br>
                <div class="line2 road">
                </div>
                <br>
                <div class="line3 road">
                </div>

                <br>

                <div class="line1 road">
                </div>
                <br>
                <div class="line2 road">
                </div>
                <br>
                <div class="line3 road">
                </div>

                <br>

            </div>

        </div>

    </div>
</body>

</html>
