<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddler - Leaderboard</title>
</head>

<body>
    <table>
        <tr>
            <th>Username</th>
            <th>Score</th>
        </tr>
        <% for(var i = 0; i < leaderboard.length; i++) { %>
        <tr>
            <td><%= leaderboard[i].username %></td>
            <td><%= leaderboard[i].score %></td>
        </tr>
        <% } %>
    </table>
</body>

</html>