<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddler 2020</title>
</head>

<body>

    <!--if the starter questions is displayed,
        frontend needs to send the create the riddle id depending on which button click 
        i.e A0,B0,C0
        and send it in the req.body
        req.body {
            answer:userAnswer,
            riddleId: Depding on btn click
        }--->
    <!---If not starter question
            riddleId will be passed to tbe template along with question 
            so you can directly take form there
       -->
    <%if(Array.isArray(question)) {%>
    <%= question[0] %>
    <%= question[1] %>
    <%= question[2] %>
    <% } else {%>
    <%= question %>
    <%}%>
     

    <form action="/answer">
        <label for="answer">Answer</label>
        <input name="answer" type="text">
    </form>
</body>

</html>