</html>
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/static/css/questionsPage.css">
    <script src="https://kit.fontawesome.com/4f0a7ba7b8.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" inte
        grity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/js/questions.js"></script>
    <link rel="shortcut icon" type="image/ico" href="/static/images/favicon_io/favicon.ico"/>

    <title>. 尺ﾉりりﾚ乇尺 2020 .</title>
</head>

<body>

    <div class="pos-f-t">
        <nav class="navbar navbar-dark bg">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </nav>
          <div class="collapse" id="navbarToggleExternalContent">
          <div class="bg p-4 text-center">
              <a class="text-white h5" href="">Dashboard</a></br>
              <a class="text-white h5" href="">Instruction</a></br>
              <a class="text-white h5" href="">Leaderboard</a></br>
              <a class="text-white h5" href="">Logout</a></br>
              <h5 class="text-white">Points: 0</span>
          </div>
        </div>

      </div>


    <div class="questionbox panel">
        <div class="questionbox-header">
            Question 0
        </div>
        <div class="questionbox-body">
            <div class="question">
                <p>
                    <%if(Array.isArray(question)) {%>
                        <%= question[0] %>
                        <%= question[1] %>
                        <%= question[2] %>
                        <% } else {%>
                        <%= question %>
                        <%}%>
                </p>            </div>
            <div class="form-group">
                <form method="POST" class="row" action="/answer">
                    <input type="text" class="answer mr-2 mb-2">
                    <button class="submitbtn"><i class="fas fa-chevron-right" id="submiticon"></i></button>
                </form>

            </div>
        </div>
    </div>

</div>
</div>
<div class="btn-group">
<button type="button" class="controller" id="vol">
    <i class="fas fa-volume-mute" id="vIcon"></i>
</button>
<button class="controller" type="button" id="info" data-toggle="popover" title=". 尺ﾉりりﾚ乇尺 ."
    data-content="Riddler is CSI's online cryptic hunt, where you crack puzzles and ciphers with all you have. Prepare for an onslaught of challenges unsolved. Can you reach your final destination, without a hint involved?"
    data-placement="top" style="font-family:BlenderPro;">
    <i class="fas fa-info-circle"></i>
</button>
</div>

    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
        integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" inte
        grity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>


</body>

</html>
