<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddler 2020</title>
</head>

<body>
    <%if(Array.isArray(question)) {%>
    <%= question[0] %>
    <%= question[1] %>
    <%= question[2] %>
    <% } else {%>
    <%= question %>
    <%}%>
     

    <form action="/answer">
        <label for="answer">Answer</label>
        <input name="answer" type="text">
    </form>
</body>

</html>