<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Riddler 2020</title>
</head>

<body>

    <%= riddle[0].question %>
    <%= riddle[1].question %>
    <%= riddle[2].question %>
</body>

</html>