<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <h1>TRACK SELECTION</h1>

    <button>Track1</button>
    <button>Track2</button>
    <button>Track3</button>
  </body>

  <script src="trackSelectorHandler.js"></script>
</html>
