@font-face {
    font-family: "BlenderPro";
    src: url('../fonts/Blender\ Pro\ Book.ttf');
}

*{
    box-sizing: border-box;

}

html,
body {
    background: linear-gradient(to bottom, #050c2691, rgba(157, 28, 120, 0.24) 140%), url(../images/bg.gif);
    background-size: cover;
    font-family: BlenderPro;
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    color: #fff;
    cursor: crosshair;
}

.btn-group {
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;
    padding: 0.3rem;
    background-color: #B102B9;

}
h4{
    line-height: 0.76;
    letter-spacing: 4.63px;
    font-size: 0.5rem;
}


.controller {
    width: 30px;
    height: 30px;
    color: white;
    background-color: #B102B9;
    border: 0;
    margin: 0;
    padding: 0;
}

#info,
#vol {
    outline: none;
}

#submiticon{
    outline: none;
    color: #fff;
}

.CSILine {
    position: absolute;
    bottom: 0px;
    text-align: center;
    font-size: 23px;
    z-index: 5;
    width: 100%;
}

.body-container{
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.questionbox {
    margin: 10%;
}

.questionbox-header {
    background-color: #B102B9;
    border-radius: 0%;
    border-left: 20px;
    border-top: 10px;
    border-style: solid;
    border-color: #B102B9;
    border-bottom-style: none;
    font-weight: bolder;
}

.questionbox-body {
    background-color: rgba(0, 0, 0, 0.452);
    height: 50vh;
    border-radius: 0%;
    padding: 3%;
    border: 10px;
    border-style: solid;
    border-color: #B102B9;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 1.3rem;
}

.question p{
    text-align: justify;
}

.question {
    max-width: 70%;
}

.form-group{
    padding-right: 12px;
    float: right;
    clear: both;
}

input{
    width: 10rem;
    height: 5rem;
    font-size: 1.5rem;
}

.submitbtn{
    background-color: #B102B9;
    height: 60px;
    width: 60px;
    border-style: none;
}

.answer{
    height: 60px;
    border-style: none;
}

.popover {
    border: 2px red;
    background-color: #B102B9;
    min-height: 50vh;
}

.popover-header {
    background-color: rgba(0, 0, 0, 0.19);
    color: #FFFFFF;
    font-size: 1rem;
    line-height: 1.3;
    text-align:center;
}

.popover-body {
    color: #FFFFFF;
    padding: 20px;
    font-size: 1rem;
    font-family: BlenderPro;
}

.arrow {
    border-right-color:#B705BF !important;
}




.bg{

    background-color:#d31970;
    width:100%;
    height: 10%;
}
.topSection {
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.riddler-logo {
    width: 70%;
    height: 20vh;
    position: relative;
}
:root {
    --time-anim: 2s;
  }

  .logoContainer {
    display: flex;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    flex: 1;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }

  .glitch-image {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 0;
    background: url(https://i.imgur.com/Mmkmwub.png);
    width: 100%;
    background-position: center;
    background-size: cover;
  }

  .glitch-image:nth-child(1) {
    opacity: 1;
  }

  .glitch-image:nth-child(n+2) {
      opacity: 0;
  }

  .glitch-image:nth-child(n+1) {
      opacity: 1;
  }

  .glitch-image:nth-child(2) {
      transform: translate3d(1.1, 0, 0);
      animation: glitch-horizontal 3s infinite linear alternate;
  }

  .glitch-image:nth-child(3) {
      transform: translate3d(-1.1, 0, 0);
      animation: glitch-horizontal-2 2s infinite linear alternate;
  }

  .glitch-image:nth-child(4) {
      transform: translate3d(-1.1, 0, 0);
      animation: glitch-vertical 1s infinite linear alternate;
  }

  .glitch-image:nth-child(5) {
      transform: translate3d(0, 1.1, 0) scale3d(-1, -1, 1);
      animation: glitch-flash 0.5s steps(1, end) infinite;
  }

  .glitch-image:nth-child(6) {
      transform: translate3d(0, 1.3, 0) scale3d(-1, -1, 1);
      animation: glitch-flash-2 0.5s steps(1, end) infinite;
  }

  @keyframes glitch-horizontal {
      0% {
          -webkit-clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
          clip-path: polygon(0 2%, 100% 2%, 100% 5%, 0 5%);
      }
      10% {
          -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
          clip-path: polygon(0 15%, 100% 15%, 100% 15%, 0 15%);
      }
      20% {
          -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
          clip-path: polygon(0 10%, 100% 10%, 100% 20%, 0 20%);
      }
      30% {
          -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
          clip-path: polygon(0 1%, 100% 1%, 100% 2%, 0 2%);
      }
      40% {
          -webkit-clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
          clip-path: polygon(0 33%, 100% 33%, 100% 33%, 0 33%);
      }
      50% {
          -webkit-clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
          clip-path: polygon(0 44%, 100% 44%, 100% 44%, 0 44%);
      }
      60% {
          -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
          clip-path: polygon(0 50%, 100% 50%, 100% 20%, 0 20%);
      }
      70% {
          -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
          clip-path: polygon(0 70%, 100% 70%, 100% 70%, 0 70%);
      }
      80% {
          -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
          clip-path: polygon(0 80%, 100% 80%, 100% 80%, 0 80%);
      }
      90% {
          -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
          clip-path: polygon(0 50%, 100% 50%, 100% 55%, 0 55%);
      }
      100% {
          -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
          clip-path: polygon(0 70%, 100% 70%, 100% 80%, 0 80%);
      }
  }

  @keyframes glitch-horizontal-2 {
      0% {
          opacity: 1;
          transform: translate3d(-10px, 0, 0);
          -webkit-clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
          clip-path: polygon(0 25%, 100% 25%, 100% 30%, 0 30%);
      }
      3% {
          -webkit-clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
          clip-path: polygon(0 3%, 100% 3%, 100% 3%, 0 3%);
      }
      5% {
          -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
          clip-path: polygon(0 5%, 100% 5%, 100% 20%, 0 20%);
      }
      7% {
          -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
          clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
      }
      9% {
          -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
          clip-path: polygon(0 40%, 100% 40%, 100% 40%, 0 40%);
      }
      11% {
          -webkit-clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
          clip-path: polygon(0 52%, 100% 52%, 100% 59%, 0 59%);
      }
      13% {
          -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
          clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
      }
      15% {
          -webkit-clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
          clip-path: polygon(0 75%, 100% 75%, 100% 75%, 0 75%);
      }
      17% {
          -webkit-clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
          clip-path: polygon(0 65%, 100% 65%, 100% 40%, 0 40%);
      }
      19% {
          -webkit-clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
          clip-path: polygon(0 45%, 100% 45%, 100% 50%, 0 50%);
      }
      20% {
          -webkit-clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
          clip-path: polygon(0 14%, 100% 14%, 100% 33%, 0 33%);
      }
      21.9% {
          opacity: 1;
          transform: translate3d(-10px, 0, 0);
      }
      22%, 100% {
          opacity: 0;
          transform: translate3d(0,0,0);
          -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      }
  }

  @keyframes glitch-vertical {
      0% {
          opacity: 1;
          transform: translate3d(0, -5px, 0) scale3d(-1,-1,1);
          -webkit-clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
          clip-path: polygon(0 1%, 100% 1%, 100% 3%, 0 3%);
      }
      1.5% {
          -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
          clip-path: polygon(0 10%, 100% 10%, 100% 9%, 0 9%);
      }
      2% {
          -webkit-clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
          clip-path: polygon(0 5%, 100% 5%, 100% 6%, 0 6%);
      }
      2.5% {
          -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
          clip-path: polygon(0 20%, 100% 20%, 100% 20%, 0 20%);
      }
      3% {
          -webkit-clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
          clip-path: polygon(0 10%, 100% 10%, 100% 10%, 0 10%);
      }
      5% {
          -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
          clip-path: polygon(0 30%, 100% 30%, 100% 25%, 0 25%);
      }
      5.5% {
          -webkit-clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
          clip-path: polygon(0 15%, 100% 15%, 100% 16%, 0 16%);
      }
      7% {
          -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
          clip-path: polygon(0 40%, 100% 40%, 100% 39%, 0 39%);
      }
      8% {
          -webkit-clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
          clip-path: polygon(0 20%, 100% 20%, 100% 21%, 0 21%);
      }
      9% {
          -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
          clip-path: polygon(0 60%, 100% 60%, 100% 55%, 0 55%);
      }
      10.5% {
          -webkit-clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
          clip-path: polygon(0 30%, 100% 30%, 100% 31%, 0 31%);
      }
      11% {
          -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
          clip-path: polygon(0 70%, 100% 70%, 100% 69%, 0 69%);
      }
      13% {
          -webkit-clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
          clip-path: polygon(0 40%, 100% 40%, 100% 41%, 0 41%);
      }
      14% {
          -webkit-clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
          clip-path: polygon(0 80%, 100% 80%, 100% 75%, 0 75%);
      }
      14.5% {
          -webkit-clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
          clip-path: polygon(0 50%, 100% 50%, 100% 51%, 0 51%);
      }
      15% {
          -webkit-clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
          clip-path: polygon(0 90%, 100% 90%, 100% 90%, 0 90%);
      }
      16% {
          -webkit-clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
          clip-path: polygon(0 60%, 100% 60%, 100% 60%, 0 60%);
      }
      18% {
          -webkit-clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
          clip-path: polygon(0 100%, 100% 100%, 100% 99%, 0 99%);
      }
      20% {
          -webkit-clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
          clip-path: polygon(0 70%, 100% 70%, 100% 71%, 0 71%);
      }
      21.9% {
          opacity: 1;
          transform: translate3d(0, -10px, 0) scale3d(-1,-1,1);
      }
      22%, 100% {
          opacity: 0;
          transform: translate3d(0,0,0);
          -webkit-clip-path: polygon(0 0, 0 0, 0 0, 0 0);
          clip-path: polygon(0 0, 0 0, 0 0, 0 0);
      }
  }

  @keyframes glitch-flash {
      0% {
          opacity: 0.2;
          transform: translate3d(10px, 5px, 0);
      }
      33%, 100% {
          opacity: 0;
          transform: translate3d(0, 0, 0);
      }
  }

  @keyframes glitch-flash-2 {
      0% {
          opacity: 0.2;
          transform: translate3d(5px, 10px, 0);
      }
      13%, 100% {
          opacity: 0;
          transform: translate3d(0, 0, 0);
      }
  }


  /* width */
::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    background: #000;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:rgb(205, 107, 211);
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(207, 72, 214);
  }


  @media only screen and  (min-width: 1500px){ html{ font-size: 24px;} }
  @media only screen and  (max-width: 768px){
      html{ font-size: 16px;}
      .riddler-logo {
          width: 80%;
          height: 15vh;
      }

      .timer {
          padding: 0 1rem;
          font-size: 3rem;
      }
    }
  @media only screen and  (max-width: 480px){ html{ font-size: 14px;} }
