<section>
    <dialog class="nes-dialog is-rounded" id="helpPopup" style="width: 90%; height:90%;overflow-y: scroll;">
        <form id="instructions" method="dialog" style="color: black;">
            <p class="title">Instructions:</p>
            <br>
            <ol>
                <li>
                    The game consists of three tracks:
                    <ol type="a">
                        <li><span class="nes-text is-error" id="Sci-fi">Sci-fi</span></li>
                        <li><span class="nes-text is-primary" id="Disney/Pixar">Disney/Pixar</span></li>
                        <li><span class="nes-text is-warning" id="Advertisement">Advertisements</span></li>
                    </ol>
                </li>
                <li>Every player starts with a base score of 100 points.
                    After you answer Question 1, you're diverted to one of the three tracks of your choice. Every track
                    has
                    8 questions each.
                    Getting an answer right, would win you 100 points where as seeking a hint would deduct 100 points
                    from
                    your total score at that instant.
                </li>
                <li> If you start a track and want to go back, your points would be deducted depending on the number of
                    questions you are leaving unanswered.
                    Example: If you're on track 2 and have answered 3 questions but now you want to change tracks, half
                    of
                    the remaining points i.e (4*100)/2 would be deducted from your total score.
                </li>
                <li>After completing one track you're directed back to the starting point where you can venture along
                    the
                    second track of your choice.
                    After the completion of all three tracks the remaining eight questions would be a combination of all
                    three categories.
                </li>
                <li>There is no negative score.</li>
                <li>Participants should work INDEPENDENTLY. Sharing answers privately or publicly, or collaborating with
                    another team constitutes cheating and will result in DISQUALIFICATION.
                </li>

                <li> Participants are NOT allowed to publish solutions during the course of game (blog, GitHub, YouTube,
                    etc)participants found violating the above rules will be DISQUALIFIED from the contest.
                </li>

                <li> External participants (other than students of VIT) are NOT eligible for a cash prize.</li>
                <li>CSI reserves the right to disqualify participants for breaking any of the rules.The discretion of
                    choosing the winner lies with the CSI, conflicts and confusions are resolved on merit basis as far
                    as possible.</li>
            </ol>
            <br>
            <menu class="dialog-menu" align="center">
                <button class="nes-btn is-primary">Hide</button>
            </menu>
        </form>
    </dialog>
</section>
